.mainHeaderTitleContainerImg {
  background-image: url('assets/imgs/title.png');
  background-position: center; 
  height: 300px;
  opacity: 0.6;
}

.mainContent.greetingsContent {
    width: 90vw;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    /* width: 100%; */
    /* display: flex;
    justify-content: center; */
    padding-top: 50px;
}

.mainContent.greetingsContent {
  display: block;
}

.text_img {
  background-image: url('assets/imgs/text_img.png');
  display: flex;
  justify-content: center;
}

.contentImg {
  width: 21.875rem;
}


.contentText {
    width: 90vw;
    max-width: 1000px;
    margin: 60px 0 120px 0;
}

.contentText > p,
.contentText1_m > p {
    word-break: keep-all;
}

.contentText1,
.contentText1_m {
    font-family: 'Song Myung', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.875rem;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #323232;
}

.contentText1_m {
  display: none;
  font-size: 1.625rem;
}

.contentText2 {
    padding-top: 30px;
    font-weight: 400;
    font-size: 1.225rem;
    line-height: auto;
    letter-spacing: -0.05em;
    color: #323232;
}

.contentText3 {
  float: right;
}

/* .mainContentImg {
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: center;
    padding: 10rem 0;
}

.mainContentImgUl {
    display: flex;
}

.mainContentImgUl li {
  margin: 10px;
} */

.rank {
    font-family: 'Song Myung', serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: -0.05em;
    color: #323232;
}

.ceoNm {
    font-family: 'Song Myung', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height:45px;
    letter-spacing: -0.05em;
    color: #323232;
    margin-left: 0.625rem;
}


.history {
    margin: 100px auto;
    width: 100%;
    position: relative;
    left: -10%;
    /* .listRight dl dt:first-child의 left 만큼 이동해야됨 */
}
  
.history h2 {
  text-align: center;
  font-size: 24px;
  color: #444;
  line-height: 1;
  margin-top: 30px;
}
  
.listRight {
  display: table;
  width: 100%;
  table-layout: fixed;
}
  
.listRight span {
  display: table-cell;
  vertical-align: top;
}

.listRight div {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.listRight div:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: #dfdfdf;
}

.listRight div ul {
  margin-top: 20px;
  border-left: 1px dashed #9D9D9D;
}

.listRight div ul li {
  display: table;
  position: relative;
  width: 100%;
}

.listRight div ul li+li {
  margin-top: 100px;
}

.listRight div ul li:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 7px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 2px solid #323232;
  border-radius: 50%;
}

.listRight dl {
  margin: 0;
  text-align: left;
  display: table;
  width: 100%;
}


.listRight dl dt {
  width: 4.25rem;
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #444;
  text-align: left;
  margin-right: 0.625rem;
}

.listRight dl dt:first-child {
  position: relative;
  left: -10rem;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 33px;
  /* identical to box height */
  color: #323232;
}

  
.listRight dl dd {
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 32px;
  color: #323232;
  text-align: left;
}
  

.mapContainer {
  display: flex;
  justify-content: center;
}

.map {
  margin: 100px 0;
  width: 90%;
  max-width: 1000px;
  height: 570px;
  background-image: url('assets/imgs/location.png');
}


/* 모바일 */

.history_m {
  display: none;
  width: 100%;
  margin: 6.25rem 0;
}
 
.listRight_m {
  display: none;
  width: 100%;
}

.listRight_m ul {
  width: 90%;
  border-left: 1px dashed #9D9D9D;
}

.listRight_m ul li dl {
  margin: 0 1.5rem 2.5rem;
  position: relative;
  top: -0.625rem;
}

.listRight_m ul li dl dd {
  margin: 0;
}

.listRight_m ul li::before {
  content: "";
  position: absolute;
  left: 1.825rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #ffffff;
  border: 2px solid #323232;
  border-radius: 50%;
}

.listRight_m ul li:first-child {
  padding-top: 1.25rem;
}

.listRight_m ul li:last-child {
  height: 0;
}

.listRight_m ul li dl dt .year {
  font-weight: 800;
  font-size: 1.5rem;
}

.listRight_m ul li dl dt .month {
  font-size: 1.125rem;
  margin-left: 0.625rem;
}

.listRight_m ul li dl dd {
  font-size: 1rem;
}

.map_m {
  display: none;
  width: 100%;
  padding-top: 6.25rem;
}

.map_m img {
  width: 100%;
  height: 100%;
}

.map_m_text {
  padding: 3.125rem 0.625rem;
}

.map_m_text p span {
  font-size: 1rem;
  color: #323232;
  word-break: keep-all;
}

.map_m_text_title {
  font-weight: 700;
}

.map_m_text p {
  padding-bottom: 0.625rem;
}

@media screen and (max-width: 768px) {
  .greetingsSubTitle {
    padding: 0 3.125rem;
    word-break: keep-all;
  } 
  
  .mainContent {
    width: 100%;
  }

  .contentText {
    width: 100%;
    display: flex;
    justify-content: center;
  }  

  .contentText > div {
    width: 95%;
  }

  .contentText1 {
    display: none;
  }

  .contentText1_m {
    display: block;
  }

  .contentText2 {
    font-size: 0.875rem;
    word-break: keep-all;
  }

  .contentText3 {
    float: left;
  }

  .rank {
    font-size: 1rem;
  }

  .ceoNm {
    font-size: 1.625rem;
  }

  .history {
    display: none;
  }

  .listRight {
    display: none;
  }

  .history_m {
    display: block;
  }

  .listRight_m {
    display: flex;
    justify-content: center;
  }

  .map {
    display: none;
  }

  .map_m {
    display: block;
  }

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 428px) {
	.listRight_m ul li::before {
    left: 3%;
  }
}